<table class="row header">
  <tr>
    <td>
      <p class="lede">
        <%= @order.name %>様<br>
      </p>
      <p>
        この度は、ご注文をいただきまして、ありがとうございました。<br>
        下記のご注文をキャンセルいたしました。<br>
        再注文ご希望の場合は、新たにご注文をお願いいたします。
      </p>
      <p>
        決済処理も合わせて取り消しいたしました。<br>
        返金のタイミングについては、ご利用のカード会社にご確認ください。
      </p>
      <p>
        □<%= Spree.t('order_mailer.confirm_email.order_summary', number: @order.number) %>:
        <%= @order.number %><br>
      </p>
      <p>
        ◾️申込者<br>
        お名前：<%= @order.bill_address.full_name %><br>
        電話番号：<%= @order.bill_address.phone %><br>
        郵便番号：〒<%= @order.bill_address.zipcode %><br>
        　  住所：<%= @order.bill_address.state %><%= @order.bill_address.city %><%= @order.bill_address.address1 %><%= @order.bill_address.address2 %>
      </p>
      <p>
        ◾️お届け先<br>
        お名前：<%= @order.ship_address.full_name %><br>
        電話番号：<%= @order.ship_address.phone %><br>
        郵便番号：〒<%= @order.ship_address.zipcode %><br>
        　  住所：<%= @order.ship_address.state %><%= @order.ship_address.city %><%= @order.ship_address.address1 %><%= @order.ship_address.address2 %>
      </p><br>
      <p>
        ◾️ご注文内容<br><br>
      </p>
      <table class="container">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <%= render collection: @order.line_items, partial: 'spree/shared/mailer_line_item', as: :line_item %>
              <%= render 'spree/order_mailer/subtotal', order: @order %>
              <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
                <tr>
                  <td class="six sub-columns">
                    <%= Spree.t(:shipping) %> <%= name %>:
                  </td>
                  <td class="six sub-columns last right">
                    <%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %>
                  </td>
                </tr>
              <% end %>
              <% if @order.all_adjustments.eligible.tax.exists? %>
                <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
                  <tr>
                    <td class="six sub-columns">
                      <%= Spree.t(:tax) %> <%= label %>:
                    </td>
                    <td class="six sub-columns last right">
                      <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
               <% if @order.line_item_adjustments.exists? %>
                <% if @order.all_adjustments.promotion.eligible.exists? %>
                  <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                    <tr>
                      <td class="six sub-columns">
                        <%= Spree.t(:promotion) %> <%= label %>:
                      </td>
                      <td class="six sub-columns last right">
                        -<%= Spree::Money.new(adjustments.sum(&:amount).abs, currency: @order.currency) %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
              <%= render 'spree/order_mailer/total', order: @order %>
            </table>
          </td>
        </tr>
      </table>
      <p>
        --------------------------------------------------------------------------<br>
        サンプルECサイト<br>
        Mail:
        "任意のメールアドレス"<br>
        （土日祝、夏期休暇、年末年始除く10：00〜17：00）<br>
        URL:https://<br>
        --------------------------------------------------------------------------
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
